<!doctype html>
<html lang="en">
  <head>
  	<% include partials/head.ejs %>

  </head>
  <body>
  	<% include partials/header1.ejs %>

    <div class="jumbotron">
      <h1 class="display-3">Hello, world!</h1>
      <p class="lead">Reviews have become a regular part of our online search routine. Similar to how people use reviews to make a purchase, plan a trip or choose a restaurant, job seekers also reference them as they research potential employers. A career change is one of the biggest decisions we can make, which is why 83% of people say employer reviews impact where they apply.
Millions of people have posted reviews about employers and companies on Indeed Company Pages, which is home to more than 10 million employer reviews. Many employers take advantage of this free resource to differentiate their brands and engage with talent..</p>
    </div>
    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
  </body>
</html>